.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #666;
  }
  
  .btn {
    margin-top: 10px;
}

.super_hit {
    color: green;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(17, 248, 29);
    padding: 0 10px;
    border-radius: 10px;
    
  }
  
  .average {
    color: orange;
    font-weight: bold;
    font-size: 18px;
    background-color: bisque;
    padding: 0 10px;
    border-radius: 10px;
  }
  
  